# OMNeT++
.settings/
.qtenvrc
.nedexclusions
.cmdenv-log
out/
simulations/results
src/Makefile
*_m.h
*_m.cc
bootstrapcb_dbg
bootstrapcb

# Python
__pycache__
*.pyc

# Sonstiges
müll*
notsave/
.computed/
.Rproj.user
